<div class="form-fields">
    <div class="name-group form-group col-xs-12">
        <a href="#" data-href="{{ path('erp_property_application_remove_field', {'propertyId':propertyId, 'fieldId':field.id}) }}"
        class="close hide-field" aria-hidden="true">&times;</a>
        <label class="control-label">{{ field.name }}:</label>
        <input type="text" name="{{ field.type }}_{{ field.id }}" class="form-control">
    </div>
</div>
