{% extends 'ErpNotificationBundle::base.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <section id="managers-profile" class="profile">
        <div class="container">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">View alert</h1>
                </div>
            </div>
            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}
            <table class="table">
                <thead>
                <tr>
                    <td>Property</td>
                    <td>Tenant</td>
                </tr>
                </thead>
                <tbody>
                {% for property in properties %}
                    <tr>
                        <td>{{ property.name }}</td>
                        <td>{{ property.tenantUser.fullName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
