{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block side_bar_after_nav %}
{% endblock %}

{% set sonata_breadcrumb_last = object.name %}
{% block sonata_breadcrumb %}
    {% include 'ErpAdminBundle:blocks:sonata_breadcrumb.html.twig' %}
{% endblock %}

{% block notice %}
    {% include 'ErpAdminBundle:blocks:sonata_message.html.twig' %}
{% endblock notice %}

{% block navbar_title %}
    Edit {{ admin.label }}
{% endblock %}

{% block sonata_tab_content %}
    {{ parent() }}
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <h4>Allowed tokens (in Body Text)</h4>
                    {{ object.tokens|join(', ') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
