{% set form = applicationSectionForm %}
{{ form_start(form, { attr: {'novalidate': 'novalidate'}, 'enctype': form_enctype(form)}) }}
<div class="form-group">
    <div class="col-xs-12">
        <div class="form-footer constructor-footer">
            <a href="#" class="add-section red-btn btn">+ Add Section</a>
            {{ form_widget(form.name) }}
            <div class="col-xs-12">
                {{ form_widget(form.submit) }}
                <a href="#" class="cancel back-dashboard btn-footer">Cancel</a>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
