{% extends 'ErpCoreBundle::EmailNotification/common.html.twig' %}

{% block title %}
    You have registered at eRentPay as Landlord!
{% endblock %}

{% block buttons %}
    <a href="{{ url }}" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; color: rgb(255, 255, 255); font-size: 18px; text-decoration: none; font-weight: bold;" target="_blank">
        Confirm registration
    </a>
{% endblock %}
