{% extends '::base.html.twig' %}

{% set headerWhiteClass = true %}

{% block headerBannerTitle %}
    Payment complete
{% endblock %}

{% block pageContent %}
    {{ parent() }}
    <section id="managers-profile" class="profile">
        <div class="container-fluid">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">
                        {{ charge.amount|money }} charged successfully.
                    </h1>
                    <p class="bold-text">Thank you for cooperation.</p>
                </div>
                <div class="col-md-3 col-md-offset-4">{% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}</div>
            </div>
        </div>
    </section>
{% endblock %}