<div id="popup-content-block" class="promocode-delete-popup">
    <h3>{{ askMsg|default('Are you sure?') }}</h3>
    <form novalidate="novalidate" action="{{ actionUrl|default('') }}" class="form-horizontal adm-form" method="POST">
        <input type="hidden" name="_method" value="DELETE">

        <div class="row">
            <div class="col-md-12">
                <div class="button-wrap">
                    <button class="btn red-btn" type="submit">Delete</button>
                    <button type="button" class="btn red-btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
