<section id="features" class="features">
    <div class="more-arrow"><a href="#features"></a></div>
    <div class="container">
        {{ content.featureBody|raw }}

        {#<div class="row banner-row">#}
        {#<div class="col-md-12">#}
        {#<div class="banner homepage-banner">#}
        {#<span class="banner-text">Wish Your <span class="bold-text">Property Manager</span> Was On <span class="bold-text">eRentPay?</span></span>#}
        {#<a role="popup" href="{{ path('erp_site_send_invite_to_manager') }}" class="btn btn-lg btn-rounded gradient-btn">SEND eInvite</a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
    </div>
</section>
<section class="banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Ready to get started</h2>
                <p>Say goodbye to rent checks, numerous work-order phone, and the hours you spend keeping your tenant files organized.
                    <a href="/register">Zoobdoo was built to make your life easier.</a></p>
                <div>
                    <a href="/register" class="btn red-btn">register for zoobdoo</a>
                </div>
                <p>Psst! Are you a tenant that wishes your manager was on Zoobdoo? <a role="popup" href="{{ path('erp_site_send_invite_to_manager') }}">Send them an invite!</a></p>
            </div>
        </div>
    </div>
</section>