{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block side_bar_after_nav %}
{% endblock %}

{% set sonata_breadcrumb_last = 'Tenants' %}
{% block sonata_breadcrumb %}
    {% include 'ErpAdminBundle:blocks:sonata_breadcrumb.html.twig' %}
{% endblock %}

{% block notice %}
    {% include 'ErpAdminBundle:blocks:sonata_message.html.twig' %}
{% endblock notice %}

{% block actions %}
    {{ parent() }}
    <li>{% include 'ErpAdminBundle:Button:invite_tenant_button.html.twig' %}</li>
{% endblock %}

{% block navbar_title %}
    {{ admin.label }}
{% endblock %}
