{% extends '::base.html.twig' %}

{% set headerWhiteClass = true %}

{% block pageContent %}
    {% block fos_user_content %}
        {% trans_default_domain 'FOSUserBundle' %}

        <div class="page-content">
            <section id="login-form-managers" class="login-form reset-form">
                <div class="container">
                    <div class="row">
                        <div class="login-block col-md-6 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-12 reset-block">
                                    <span class="login-block-title">Resetting Password:</span>
                                </div>
                            </div>
                            <div class="row login-block-form">
                                <div class="col-md-12 customer-login">
                                    <p class="field-validation-error">
                                        {{ 'resetting.check_email'|trans({'%email%': email}) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endblock fos_user_content %}

{% endblock %}
